In [2]:
my_list = [1,2,'name','1one',3.0,[1,2,3,4,'one','two']]
type(my_list)

list

In [5]:
List = [1,2,3,4,5]
List1 = [ i*2 for i in range(5)]
print(List1)

[0, 2, 4, 6, 8]

In [6]:
for i in range(5):
    print(i*2)

0
2
4
6
8

In [7]:
print ([a+b for a in 'mug' for b in 'lid'])

['ml', 'mi', 'md', 'ul', 'ui', 'ud', 'gl', 'gi', 'gd']

In [10]:
for a in 'mug':
    for b in 'lid':
        print(a+b)

ml
mi
md
ul
ui
ud
gl
gi
gd

In [37]:
my_list = [1, 2, 'one', 'Two']
my_list.insert(2,3)
my_list.insert(-1,"Three")
print(my_list)

[1, 2, 3, 'one', 'Three', 'Two']